body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 6, 6);
    color: #333;
}

header {
    padding: 1rem 0;
    text-align: center;
    color: #f8f8f8;
    background-color: rgb(4, 45, 98);
    padding: 1cm;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 3rem;
}

nav a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffffff; /* Change the color on hover */
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile h1 {
    margin: 0;
    font-size: 5rem;
}

.profile p {
    margin: 0;
    font-size: 2rem;
}

main {
    width: 100%;
    margin: 2rem auto;
}

.project {
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    padding: 3cm;
}
.project h2 {
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
    color: #ffffff;
}

.project:hover {
    transform: scale(1.05);
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: auto;

}
.screenshot-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 33.33%;
    height: 800px;
   
}
.screenshot-container img {
    flex-grow: 1;
    object-fit: cover;
    border-radius: 1cm;
}
h1 {
    font-size: 100rem; /* Add the desired font size */
    padding: 1rem;
    margin: 0;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    padding: 1rem;
    margin: 0;
}

p {
    line-height: 1.6;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
    color: #f4f4f4;
}
footer {
    text-align: left;
    padding: 1rem;
    position: initial;
    bottom: 0;
    background-color: rgb(4, 45, 98); /* Add background color for better visibility */
    color: #fff; /* Add text color for better visibility */
}


